<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183788843963-vun14dvfc252ornc5ssiidbb4duhv6v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183788843963-vun14dvfc252ornc5ssiidbb4duhv6v1</string>
	<key>API_KEY</key>
	<string>AIzaSyBie_vv0-RXOmCahn6h1Etcy8Bx5072Mn8</string>
	<key>GCM_SENDER_ID</key>
	<string>183788843963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitmate</string>
	<key>PROJECT_ID</key>
	<string>fitmate-f3e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmate-f3e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183788843963:ios:7566632e6058541d24ca9e</string>
</dict>
</plist>